In [1]:
import pandas as pd
import time

## Read data file

In [2]:
start_time = time.time()

review = pd.read_csv("../reviews.zip")

end_time = time.time()

print(f"used {end_time - start_time} seconds")

used 3.4313650131225586 seconds

In [3]:
review

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,9835,279854,2011/05/24,560832,Miriam,"Very hospitable, much appreciated.\r\n"
1,9835,3640746,2013/02/26,5143343,Michelle,A beautiful house in a lovely quiet neighbourh...
2,9835,23731188,2014/12/08,2478713,Karyn,This was my first time using airbnb and it was...
3,9835,46588875,2015/09/12,26184717,Rosalind,I was visiting Melbourne to spend time with my...
4,10803,3333588,2013/01/12,4421189,Johannes,It was very convenient to stay in Lindsay's a...
...,...,...,...,...,...,...
600559,38448808,527009976,2019/09/10,293290527,Jessica,"April was very nice, flexible with hours upon ..."
600560,38448808,527869915,2019/09/12,143162322,書瑋,good price good host
600561,38448808,528905921,2019/09/14,258375533,Barra,"Great stay. Clean, good location, would recomm..."
600562,38465301,527393893,2019/09/10,291267360,Lucy,The host canceled this reservation 16 days bef...
600563,38469019,527057197,2019/09/10,277843315,Sasipimon,The host canceled this reservation 29 days bef...

## Grouping

In [4]:
gr = review.groupby(['listing_id'])

In [5]:
len(gr.groups)

19212

## Counting

In [6]:
only_list = gr.size().reset_index(name='counts')

In [7]:
s = only_list.sort_values(['counts'], ascending=False)

In [8]:
s.to_csv("listing-count.csv")

In [9]:
s

       listing_id  counts
268        999067     633
679       2449576     577
32         150729     548
3022      9734834     533
17          72576     490
...           ...     ...
6865     17982193       1
16191    32476902       1
6863     17981752       1
16194    32481744       1
19211    38469019       1

[19212 rows x 2 columns]